.head {
    color: var(--background-blanco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .55rem;
    padding-bottom: .55rem;

    border-bottom: 1px solid var(--border-cabecera-mobile);

    position: absolute;
}

.head__logo {
    background: 15%;
    margin-top: 0.15rem;
    margin-bottom: 1rem;
}

.head__navegacion {
    text-align: center;
}

.head__enlace {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
}

.head__enlace:hover {
	color: #f8e004;
	font-size: 1.15rem;
}

@media screen and (min-width: 1024px) {
    .head {
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }

    .head__enlace:hover {
        color: #04f839;
        font-size: 1.15rem;
    }
}